<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
	<title>Lemmiwink</title>
	<!-- Run in full-screen mode. -->
    <meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Make the status bar black with white text. -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- Customize home screen title. -->
	<meta name="apple-mobile-web-app-title" content="Lemmiwink">
	<!-- Disable phone number detection. -->
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="initial-scale=1">
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/static/css/jquery.mobile-1.4.2.min.css" />
	<link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.mobile-1.4.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jstorage.js"></script>
	<script type="text/javascript" src="/static/js/retina-1.1.0.js"></script>
	<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <link href="/static/apple-touch-icon-144x144.png" sizes="144x144" rel="icon">
    <link href="/static/apple-touch-icon-114x114.png" sizes="114x114" rel="icon">
    <link href="/static/apple-touch-icon-144x144.png" sizes="144x144" rel="apple-touch-icon">
    <link href="/static/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon">
    <link href="/static/apple-touch-icon-76x76.png" sizes="76x76" rel="apple-touch-icon">
    <link href="/static/apple-touch-icon-72x72.png" sizes="72x72" rel="apple-touch-icon">
    <link href="/static/apple-touch-icon-57x57.png" sizes="57x57" rel="apple-touch-icon">

    <!-- Startup images -->

    <!-- iOS 6 & 7 iPad (retina, portrait) -->
    <link href="/static/apple-touch-startup-image-1536x2008.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: portrait)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPad (retina, landscape) -->
    <link href="/static/apple-touch-startup-image-1496x2048.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: landscape)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPad (portrait) -->
    <link href="/static/apple-touch-startup-image-768x1004.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: portrait)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPad (landscape) -->
    <link href="/static/apple-touch-startup-image-748x1024.png"
          media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: landscape)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPhone 5 -->
    <link href="/static/apple-touch-startup-image-640x1096.png"
          media="(device-width: 320px) and (device-height: 568px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 & 7 iPhone (retina) -->
    <link href="/static/apple-touch-startup-image-640x920.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">

    <!-- iOS 6 iPhone -->
    <link href="/static/apple-touch-startup-image-320x460.png"
          media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 1)"
          rel="apple-touch-startup-image">
  <link rel="stylesheet" type="text/css" href="/static/css/add2homescreen.css">
  <script src="/static/js/add2homescreen.min.js"></script>
  <script>
  addToHomescreen();
  </script>
</head>
<body>
 <div data-role="page" id="home">
	<div data-role="panel" data-position="left" data-theme="b" data-display="push" id="left_panel">
		<ul data-role="listview" data-inset="false" data-theme="b">
			<li><div style="text-align: center;"><img src="/static/img/lemmiwink.png" alt="Logo"></div></li>
			<li><a data-transition="slide" href="/"><i class="icon-home"></i> &nbsp; Home</a></li>
            <li><a data-transition="slide" href="/pay/cc"><i class="icon-credit-card"></i> &nbsp; Payment</a></li>
            <!-- <li><a data-transition="slide" href="promo.html"><i class="icon-gift"></i> &nbsp; Promotions</a></li>-->
            <li><a data-transition="slide" href="/m/profile"><i class="icon-user"></i> &nbsp; Profile</a></li>
			<li><a data-transition="slide" href="/m/support"><i class="icon-question"></i> &nbsp; Support</a></li>
            <li><a data-transition="slide" href="/m/about"><i class="icon-info"></i> &nbsp; About</a></li>
		</ul>
	</div>
	<div id="header" data-role="header" data-position="fixed" data-theme="c">
		<div class="header_wrapper">
			<a style="border-left: none;" class="header_button" href="#left_panel" data-inline="true" data-role="button" data-corners="false" data-theme="c" id='menu_btn'>
				<img class="header-btn-image" style="width: 100%; height: 100%;" src="/static/img/menu.png" alt="Menu">
				<span class="menu-btn-background"></span>
			</a>
			<span class="page-tagline">{% block pagetitle %}{% endblock %}</span>
      {% block rightbtn %}{% endblock %}
			<div style="clear: both"></div>
		</div>
	</div><!-- /header -->

    <!-- content -->

      <div id='mainContent'>{% block content %}{% endblock %}</div>

    </div><!-- /page -->
<script type="text/javascript">
$(document).on('pagebeforechange', function(e, data){
    var to = data.toPage;
    var pageLen = data.toPage.length;
    if (pageLen > 7) {
      var nextPage = data.toPage.substring(pageLen-7);
      console.log(nextPage);
      if (nextPage=='profile')
        $(location).attr('href',data.toPage);
    }
});
</script>
  </body>
</html>
