{% extends "base/splash.html" %}

{% block content %}
<h2>Generate a coupon code.</h2>
<h3>{{last_code}}: {{last_amount}}</h3>
 <form enctype="multipart/form-data" method="post" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" >Code: </label>
        <div class="controls">
          <input type="text" name="code">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" >Amount: </label>
        <div class="controls">
          <input type="number" name="amount">
        </div>
    </div>
	<button type="submit" class="btn">submit</button>
</form>
{% endblock %}
