{% extends "base/app.html" %}
{% block pagetitle %}<img src="/static/img/lemmiwink.png" alt="Logo">{% endblock %}
{% block rightbtn %}
{% include "base/cart_head.html" %}
{% endblock %}

{% block content %}
    <div id="homepage_content" data-role="content">
        <p>Millions of Americans turn to cannabis for its therapeutic benefits.  Lemmiwink is proud to deliver only the highest quality marijuana strains to a select group of connoisseurs.  We make our wares available on demand through our mobile interface.  We currently provide delivery on demand to addresses in San Francisco.</p>
		<p>
		Lemmiwink is governed by our terms of service.  We do not receive any money for the transaction of marijuana products, instead facilitating only the delivery infrastructure.  Our complete terms of service are available by emailing <a href='mailto:help@lemmiwink.com'>help@lemmiwink.com</a>.
		</p>
		<p>
		<h2>Delivery Map</h2>
		<img src='/static/img/deliverymap.png' style='width: 80%; height: 80%'>
		</p>
    </div><!-- /content -->
{% endblock %}
