{% extends "base/app.html" %}
{% block content %}
    <div id="homepage_content" data-role="content">
      <div class='addItems'>
        <p>Millions of Americans turn to cannabis for its therapeutic benefits.  Lemmiwink is proud to deliver only the highest quality marijuana strains to a select group of connoisseurs.  We make our wares available on demand through our mobile interface.  We currently provide delivery on demand to addresses in San Francisco.</p>
      </div>
    </div><!-- /content -->
<script>
$(document).ready(function(){
  $('#cart_btn').hide();
  });
</script>
{% endblock %}
