{% extends "base/app.html" %}
{% block pagetitle %}<img src="/static/img/lemmiwink.png" alt="Logo">{% endblock %}
{% block rightbtn %}
  {% if cart %}
  <a style="float: right; position:relative; color:#fff;margin:10px;" class=" ui-link" href="{{chckout_url}}" data-inline="true">Checkout</a>
  {% endif %}
{% endblock %}
{% block content %}
    <div id="homepage_content" data-role="content">
    <div class="page-subtitle">
        Cart
      </div>
      {% if cart %}
      <div>
        <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" id='cartItems'>
            {% for c in cart.cart_items %}
            <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-theme="c" class="ui-btn ui-li ui-li-has-thumb ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text" style='display:inline-block'>
                <img src="{{c.imglink}}" class="ui-li-thumb">
                <h2 class="ui-li-heading">{{c.name}}</h2>
                <p class="ui-li-desc">{{c.unit}}</p>
            </div>
            <div data-key='{{c.key}}' style='display:inline-block; float:right; text-align:right'>
                <div style='font-weight:500;' class='itemOrder'><span class='itemQty'>{{ c.qty }}</span><span style='margin-right:15px;'> x</span><span class='itemPrice' style='color:#2699ae'> {{c.pricefl}}</span></div>
                <div class="ui-grid-a" style='padding-left:10px;'>
                    <div class="ui-block-a"><a data-role="button" data-icon="minus" class='minusBtn' data-iconpos="notext" data-mini="true"></a></div>
                    <div class="ui-block-b"><a data-role="button" data-icon="plus" class='plusBtn' data-iconpos="notext" data-mini="true"></a></div>
                </div></div>
            </div>
            </li>
            {% endfor %}
        </ul>
        <hr>
        <div class='ui-grid-a' style='padding:10px;'>
            <div class="ui-block-a" >
                <span style='font-size:15px;'>Promo Code?</span>
                <div class='ui-grid-a'>
                    <div class='ui-block-a' style='text-align:right'>
                    <input type='text' id='promo_code' maxlength='8' size='4' data-mini="true" style='min-height:2.5em;padding:0;border:1px solid #ddd'>
                    </div>
                    <div class='ui-block-b'>
                    <button id='promo_btn' class="ui-btn ui-mini ui-btn-inline" style='margin:0;'>Apply</button>
                    </div>
                </div>
            </div>
            <div class="ui-block-b">
                <div class='ui-grid-a'>
                    <div class='ui-block-a' style='text-align:right'>
                    <p><span class='bold-label'>Subtotal</span><br>
                    <span class='promoTotal'>Promo<br></span>
                    Shipping</p>
                    <p class='bold-label'>Total</p>
                    </div>
                    <div class='ui-block-b' style='text-align:right'>
                    <p><span class='bold-label' id='subtotal'></span><br>
                    <span class='promoTotal' id='promoAmt' style='color:#339933'>{{cart.promo}}<br></span>
                    5.00</p>
                    <p class='bold-label' id='total'></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    {% else %}
    <div style='height:100%;width:100%;text-align:center;'>
    <h4>There are no items in your cart.</h4>
    </div>
    {% endif %}
    </div><!-- /content -->
<script>
$(document).ready(function() {
  var promo = 0;
  updateTotal();
  $('.promoTotal').hide();
  $('#cart_btn').hide();
  $('#promo_btn').click(function() {
    var code = $('input#promo_code').val();
    data = {'code': code};
      $.ajax({
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        url: "/cart/promo",
        data: JSON.stringify(data),
        success: function(response) {
          console.log(JSON.stringify(response));
          if (response.status=='ok') {
            $('.promoTotal').show();
            $('#promoAmt').html(response.promo + '<br>');
            $('input#promo_code').val('');
          } else {
            alert(response.status);
            $('.promoTotal').hide();
            $('#promoAmt').html('0.00'+ '<br>');
          }
          updateTotal();
        }
      });
  })
  $('a.plusBtn').click(function(e) {
    var qtyBox = $(this).parent().parent().parent();
    var itemQty = qtyBox.find('.itemQty');
    var key = qtyBox.attr('data-key');
    var qty = parseInt(itemQty.html());
    if (qty < 99)
      itemQty.html(qty+1);
    updateTotal();
    updateCart('inc', key, qty);
  });
  $('a.minusBtn').click(function(e) {
    var qtyBox = $(this).parent().parent().parent();
    var itemQty = qtyBox.find('.itemQty');
    var key = qtyBox.attr('data-key');
    var qty = parseInt(itemQty.html());
    if (qty > 0)
      itemQty.html(qty-1);
    updateTotal();
    updateCart('dec', key, qty);
  });
  });
$('span#checkoutBtn').click(function() {
    $.mobile.changePage('/cart/checkout?cart=1');
});
function updateTotal() {
    var subTotal = 0;
    var total = 0;
    $('ul#cartItems').find('.itemOrder').each(function(){
        var qty = $(this).find('.itemQty').html();
        var price = $(this).find('.itemPrice').html();
        subTotal += parseFloat(qty) * parseFloat(price);
    })
    $('#subtotal').html(subTotal.toFixed(2));
    var promo = parseFloat($('#promoTotal').text());
    if (subTotal==0)
        total = 0;
    else
        total = subTotal + 5;
    $('#total').html('$'+total.toFixed(2).toString());
}
function updateCart(action, item, qty) {
  var data = {'action':action, 'key':item, 'qty':qty};
  $.ajax({
    type: "POST",
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    url: "/cart/update",
    data: JSON.stringify(data),
    success: function(response) {
      console.log(JSON.stringify(response));
      //doesn't really matter, continue
    }
  });
}
</script>
{% endblock %}
