{% extends "base/splash.html" %}
{% block content %}
<div class='info'>
    <p>
    <img src='/static/img/lemmiwink_lg.png' style='margin-top:20%; width:60%'>
    </p>
    <br>

    Lemmiwink is on his way.

</div><!-- /content -->
<div class='footer'>
  <p>Arrival Time: Approx: 7:35pm - 7:55pm</p>
  <div class='foot-contact'>
    <span class='contact-box'>call me<br><img src='/static/img/tel.png'></span>
    <span class='contact-box'>text me<br><img src='/static/img/read-more.png'></span>
  </div>
</div>
{% endblock %}
