{% extends "base/app.html" %}
{% block content %}
    <div id="homepage_content" data-role="content">
      <div class='addItems'>
        <h3>Your account is currently waiting for approval.</h3>
        <p>
            Invite a friend to try Lemmiwink, and <br>
            you will both receive $10 off your first order!
        </p>
        <p>
            Share your code: <b>{{code}}</b>
        </p>
      </div>
    </div><!-- /content -->
<script type="text/javascript">
function contactsSuccess (contacts) {
    for(c in contacts) {
        alert(contacts[c].name);
    }
  $('#contacts').html(contacts);
}
function contactsFail (err) {
  console.log('Failed contacts');
}
function loadContacts()
{
    var contactIntent = new Intent({ action: "http://webintents.org/pick",
    type: "http://w3.org/type/contact",
    extras: { fields: ["displayName", "name", "phoneNumbers", "emails"] }});
    navigator.startActivity(contactIntent, contactsSuccess, contactsFail);
}
</script>
<script>
$(document).ready(function(){
  $('#cart_btn').hide();
  });
</script>
{% endblock %}
