{% extends "base/app.html" %}
{% block pagetitle %}<span class="page_title"><img src="/static/img/lemmiwink.png" alt="Logo"></span>{% endblock %}
{% block rightbtn %}
<a style="float: right;" class="header_button" href="/cart/view" data-inline="true" data-role="button" data-corners="false" data-theme="c" id='cart_btn'>
    <img style="width: 100%; height: 100%;" src="/static/img/cart.png" alt="Share">
    <span class="btn-background share-btn-background"></span>
</a>
{% endblock %}
{% block content %}
<div class="page-subtitle">
    {{ name }}
</div>
<div style="text-align: center;">
	<a href='/m/catalog'><button id='back_btn' data-corners="false" data-role="button" data-mini="true" data-icon="arrow-l" data-iconpos="left" data-inline="true">Back to Menu</button></a>
	<button id='add2Cart' data-corners="false" data-role="button" data-mini="true"  data-inline="true">Get it Now</button>
</div>

<div data-role="content">
	<div class="container">
		<article class="blog-article">
			<div class="blog-featured-image blog-image-center text-transparent">
				<div style="display: inline-block; max-width: 100%; position: relative;">
					<a href="blog-single-5.html">
						<img src="/static/img/product-pics/flower-girlscout.jpg">
					</a>
					<div class="blog-single-title">
						<section class="blog-single-title-text">
							<a href="blog-single-5.html">
								<p class="title">{{ name }}</p>
							</a>
							<p class="excerpt">
							${{ pricefl }} per eighth
							</p>
						</section>

					</div>

				</div>

			</div>
			<div class="blog-featured-image blog-image-center text-transparent" style='width: 200px; margin: 0 auto;'>
			  <div style="display: inline-block; max-width: 100%; position: relative;">
				<div class='stat'>
					<div class='val'>{{ strain_type }}</div>
					<div class='key'>Type</div>
				</div>
				<div class='stat'>
					<div class='val'>{{ thc }}</div>
					<div class='key'>THC</div>
				</div>
				<div class='stat'>
					<div class='val'>{{ cbd }}</div>
					<div class='key'>CBD</div>
				</div>
				<div class='stat'>
					<div class='val'>${{ price }}</div>
					<div class='key'>Price</div>
				</div>
			  </div>
			</div>

		</article>

		<div class="clear"></div>

		<hr style="background: #bebebe; margin: 30px 0;">
		{{ description }}

	</div>
</div><!-- /content -->

<script>
$(document).ready(function() {
  $('#add2Cart').click(function() {
  	$(this).prop('disabled', true);
	  var data = {'action':'add', 'key': '{{key}}', 'qty': 1};
	  $.ajax({
	    type: "POST",
	    dataType: "json",
	    contentType: "application/json; charset=utf-8",
	    url: "/cart/update",
	    data: JSON.stringify(data),
	    success: function(response) {
	      console.log(JSON.stringify(response));
	      //doesn't really matter, continue
	    },
	    failure: function(response) {
      	  console.log(JSON.stringify(response));
      	  $(this).prop('disabled', false);
	    }
	  });
  });
});
</script>
{% endblock %}
