<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
	<title>Barnacle</title>
	<!-- Run in full-screen mode. -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Make the status bar black with white text. -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- Customize home screen title. -->
	<meta name="apple-mobile-web-app-title" content="Barnacle">
	<!-- Disable phone number detection. -->
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="initial-scale=1">

	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/photoswipe.css">
    <link rel="stylesheet" href="css/splash.css">
	<script type="text/javascript" src="js/klass.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/jstorage.js"></script>
	<script type="text/javascript" src="js/retina-1.1.0.js"></script>
</head><body class='splash'>
    
  <div id='login'>
      <p>
      <img src='img/logo_lg.png' style='margin-top:30%; width:60%'>
      </p>
      <br>
      <form enctype="multipart/form-data" method="post" id="login_form" class="form-horizontal">
        <input type="email" class='input-round' name="email" placeholder="Email Address">
        <input type="password" class='input-round' name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
        <button class='button-round'>Log In</button>
      </form>
        <button class='button-round primary' id='btn_fb'><i class='icon-facebook-sign'></i> &nbsp; Log In with Facebook</button>
    <div id='login-footer'>
    <a href='photo.html'>Password (temphome)</a> &nbsp; | &nbsp; <a href='signup.html'>Register</a>
    </div>      
  </div><!-- /content -->
<script type="text/javascript" charset="utf-8" src="js/validation.js"></script>  
<script type="text/javascript" charset="utf-8" src="js/data/urls.js"></script>    
<script>
jQuery(document).ready(function () {
  hh = $(window).height();
  $('#login').height(hh);
});
</script>    
<script type="text/javascript" charset="utf-8" src="js/cookie.js"></script>
<script type="text/javascript" charset="utf-8" src="js/init.js"></script>
<script type="text/javascript" charset="utf-8" src="js/fb.js"></script>
<script type="text/javascript" charset="utf-8" src="phonegap.js"></script>
<script type="text/javascript" charset="utf-8" src="cordova.js"></script>
<script type="text/javascript" charset="utf-8">
app.initialize();

function onDeviceReady() {
  console.log('Ready');
  // Check to see if logged in  
  var userkey = getUserCookie();
  if (userkey != 'undefined') {
    data = {'userkey': userkey};
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        url: wwwHome + "/signup/mobile",
        data: JSON.stringify(data),
        success: function(response) {
          console.log(response);
          /* do something smarter here */
          if (response.status == "ok") {
            $(location).attr('href',"home.html");
          } else {
             console.log('invalid kookie');
             window.localStorage.clear();
          }
        }
    });
  }  
}
    </script>
  </body>
</html>            