{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h3>PAYMENT INFORMATION</h3>
    <div class="row-fluid">
      <div class='span9 offset3'>       <div
                        class="cc_visa       cc cc_initial"></div><div
                        class="cc_mastercard cc cc_initial"></div><div
                        class="cc_amex       cc cc_initial"></div><div
                        class="cc_discover   cc cc_initial"></div><div
                        class="cc_diners     cc cc_initial"></div><div
                        class="cc_jcb        cc cc_initial"></div>
      </div>
    </div>
    <div class="row-fluid">
      <div class='span3'>Card Number:</div>
      <div class='span5'><input type='text' class='card-number span12' maxlength='16'></div>
      <div class='span4'><span class="text-error" id='cc-err'></span></div>
    </div>
    <div class="row-fluid">
      <div class='span3'>Expiration:</div>
      <div class='span5'>
      <select data-mini='true' data-inline='true' class='cc-em'>{% include 'month_opts.txt' %}</select> / 20<input type='number' data-inline='true' data-mini='true' class='cc-ey' min="14"></div>
      <div class="span4 text-error" id='ccexp-err'></div>
    </div>
    <div class="row-fluid">
      <div class='span3'>Security Code:</div>
      <div class='span1'><input type='text' class='input-mini cc-csc' maxlength="4"></div>
      <div class='span4 hidden-phone' style='padding-left:20px'><div id='cvc_card' class='visa_back'></div></div>
    </div>
    <div class="row-fluid">
      <div class='span2 offset3'>
        <button type="submit" class="button info" id='request_btn'>Save</button>
      </div>
      <div class='span4 text-error' id='check-err'></div>
    </div>


          You will not be charged until your delivery has been shipped.
        <hr style="background: #bebebe; margin: 15px 0px;">
    </div>

{% endblock %}
