{% extends "base/app.html" %}
{% block content %}
    <div id="homepage_content" data-role="content">
      <div class="page-subtitle">
        Upload a photo of your Registration ID.
      </div>
      <form enctype="multipart/form-data" id='photoID'>
        <div id="container">
          <div id="filelist"></div>
          <a id="pickfiles" href="#">Take a Picture</a>
        </div>
        <img style="width:50%;margin-right:25%;margin-left:25%" id="smallImage" src="" />
        <input type="button" class="button small info" value="Save" id='save_btn'>
        <input type='hidden' id='upload_url'>
      </form>
    </div><!-- /content -->

<script type="text/javascript" src="/static/js/plupload/gears_init.js"></script>
<script type="text/javascript" src="/static/js/plupload/plupload.full.min.js"></script>
<script>
$(document).ready(function(){
  var upload;

  function resetUpload() {
    $.ajax({
      type: "GET",
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      url: '/imgserv/url',
      success: function(response) {
        console.log(response);
        if (response.status == "ok") {
          upload = response.upload_url;
          uploader.settings.url = upload;
          $('#pickfiles').show();
          $('#save_btn').removeAttr('disabled');
        }
      }
    });
  }

  $('#save_btn').attr('disabled', 'disabled');
  $('#pickfiles').hide();

  var uploader = new plupload.Uploader({
    runtimes: 'gears,flash,html4',
    browse_button: 'pickfiles',
    container: 'container',
    url: upload,
    use_query_string: false,
    multipart: true,
    flash_swf_url: '/static/js/plupload/plupload.flash.swf',
    resize: {quality:10}
  });
  resetUpload();
  uploader.bind('FilesAdded', function(up, files) {
    $.each(files, function(i, file) {
      $('#filelist').html(
        '<div id="' + file.id + '">' +
        'Loading: ' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
        '</div>'
      );
    });
    // reset upload link
    resetUpload();
  });
  uploader.bind('UploadProgress', function(up, file) {
    $('#' + file.id + ' b').html(file.percent + '%');
  });
  uploader.bind('FileUploaded', function(up, file, response) {
    console.log(response);
    $("#smallImage").attr("src", response.response);
    //window.location = response.response;
  });
  uploader.bind('Error', function(up, err) {
    alert("Upload error: " + err.message);
  });
  uploader.bind('QueueChanged', function(up) {
    uploader.start();
  });

  uploader.init();

  $('input#save_btn').click(function(event){
    event.preventDefault();
    // save image and go to next page
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        url: '/m/regid',
        success: function(response) {
          console.log(response);
          if (response.status == "ok") {


          }
        }
    });
  });
});

</script>

{% endblock %}
