{% extends "base/app.html" %}
{% block content %}
    <div id="homepage_content" data-role="content">
      <div class="page-subtitle">
        Upload a photo of your Registration ID.
      </div>
      <button onclick="capturePhoto();">Capture Photo</button> <br>
      <input type="file" capture="camera" accept="image/*" id="takeIDPhoto">
      <button onclick="capturePhotoEdit();">Upload Photo</button> <br>
      <img style="display:none;width:60px;height:60px;" id="smallImage" src="" />
      <img style="display:none;" id="largeImage" src="" />
      <img id="myImage" src="" />
    </div><!-- /content -->

<script type="text/javascript" charset="utf-8">

// Called when a photo is taken
function onPhotoDataSuccess(imageData) {
    // Get a URL
    $.ajax({
        type: "GET",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        url: wwwHome + '/imgserv/url',
        data: JSON.stringify(data),
        success: function(response) {
          console.log(response);
          if (response.status == "ok") {
            upload = response.upload;
            $.ajax({
                type: "POST",
                contentType: "json",
                dataType: "image/jpeg",
                url: wwwHome + upload,
                data: imageData,
                success: function(response) {
                  console.log(response);
                }
            });
          }
        }
    });
    // show preview
    var smallImage = document.getElementById('smallImage');

    // Unhide image elements
    smallImage.style.display = 'block';

    // Show the captured photo
    // The inline CSS rules are used to resize the image
    smallImage.src = "data:image/jpeg;base64," + imageData;
}

// Called when a photo is successfully retrieved
function onPhotoURISuccess(imageURI) {
    // Uncomment to view the image file URI
    console.log(imageURI);

    // Get image handle
    var largeImage = document.getElementById('largeImage');

    // Unhide image elements
    largeImage.style.display = 'block';

    // Show the captured photo
    // The inline CSS rules are used to resize the image
    largeImage.src = imageURI;
}

function capturePhoto() {
  // Take picture using device camera and retrieve image as base64-encoded string
  navigator.camera.getPicture(onPhotoDataSuccess, onFail, { quality: 50 });
}

function capturePhotoEdit() {
    // Take picture using device camera, allow edit, and retrieve image as base64-encoded string
    navigator.camera.getPicture(onPhotoDataSuccess, onFail, { quality: 20, allowEdit: true });
}

// A button will call this function
function getPhoto(source) {
    // Retrieve image file location from specified source
    navigator.camera.getPicture(onPhotoURISuccess, onFail, { quality: 50,
      destinationType: destinationType.FILE_URI,
      sourceType: source });
}

// Called if something bad happens.
function onFail(message) {
    alert('Failed because: ' + message);
}

function onSuccess(imageData) {
    var image = document.getElementById('myImage');
    image.src = "data:image/jpeg;base64," + imageData;
}

function onFail(message) {
    alert('Failed because: ' + message);
}
</script>
{% endblock %}
