{% extends "base/app.html" %}
{% block pagetitle %}<img src="/static/img/lemmiwink.png" alt="Logo">{% endblock %}
{% block rightbtn %}
{% include "base/cart_head.html" %}
{% endblock %}
{% block content %}

    <div id="homepage_content" data-role="content">
      <div class="page-subtitle">
        Information
      </div>
      <form enctype="multipart/form-data" method="post" id="addr_form">
        <input type="text" class='input-address' name="name" placeholder="Full name (must match ID)" data-mini="true" value="{{name}}">
        <hr class='input-hr'>
        <input type="email" class='input-address' name="email" placeholder="Email" data-mini="true" value="{{email}}">
        <hr class='input-hr'>
        <input type="tel" class='input-address' name="tel" placeholder="Phone" data-mini="true" value="{{tel}}">
        <div class="page-subtitle">
          Delivery Address
        </div>
        <input type="text" class='input-address' name="address" placeholder="Address" {% if addr %} value="{{addr.street}}" {% endif %}>
        <hr class='input-hr'>
        <input type="text" class='input-address' name="apt" placeholder="Apt / suite / unit" {% if addr %}value="{{addr.apt}}"{% endif %}>
        <hr class='input-hr'>
        <input type="text" class='input-address' id='city' name="city" placeholder="City" {% if addr %}value="{{addr.city}}"{% endif %}>
        <hr class='input-hr'>
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <input type="text" class='input-address' id='state' name="state" placeholder="State" SIZE="2" MAXLENGTH="2" {% if addr %}value="{{addr.state}}"{% endif %}>
          </div>
          <div class="ui-block-b">
            <input type="text" class='input-address' name="zip"  placeholder="Zip" SIZE="5" MAXLENGTH="5" id='zip' {% if addr %}value="{{addr.zip}}"{% endif %}>
          </div>
        </div>
        <button class='ui-mini ui-btn' id='addr_btn' disabled>UPDATE</button>
      </form>

    </div><!-- /page -->
<script type="text/javascript" charset="utf-8">
function initialize() {
  $('#addr_btn').button().button('enable');
}
$(document).ready(function() {
  $("input#city").hide(); /* Show the fields */
  $("input#state").hide();
  $('input#zip').keypress(function(e) {
      var a = [];
      var k = e.which;
      for (i = 48; i < 58; i++)
          a.push(i);
      if (!(a.indexOf(k)>=0))
          e.preventDefault();
  });
  $('input#zip').keyup(function(e) {
      // Do we have 5 digits?
      var zip = $(this).val();
      if (zip.length >=5)
        fillCityState(zip);
  });
});
function fillCityState(zip) {
  $.ajax({
    url: "http://zip.elevenbasetwo.com",
    cache: false,
    dataType: "json",
    type: "GET",
    data: "zip=" + zip,
    success: function(result, success) {
      console.log(result);
      $("input#city").slideDown(); /* Show the fields */
      $("input#state").slideDown(); /* Show the fields */

      $("input#city").val(result.city); /* Fill the data */
      $("input#state").val(result.state);
    },
    error: function(result, success) {
      console.log('bad zip');
    }
  });
}
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places&callback=initialize"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/validation.js"></script>
<script type="text/javascript" charset="utf-8">

/* send address info to server */
function validate_addr() {
  var $form = $('#addr_form');
  var name = $form.find('input[name=name]').val();
  var address = $form.find('input[name=address]').val();
  var city = $form.find('input[name=city]').val();
  var state = $form.find('input[name=state]').val();
  var zip = $form.find('input[name=zip]').val();
  if (name!=='' && address!=='' && zip!=='')
    return true;
  else
    return false;
}
$('#addr_btn').click( function(e) {
  e.preventDefault();

  var valid = validate_addr();
  if (!valid) {
    alert('Incomplete Address');
    return
  }
  // Try to get a geopt for this address
  var data = $('#addr_form').serializeObject();
  geoFunc(data);
});

function geoFuncCallback(data) {
  $.ajax({
    type: "POST",
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    url: "/address/update",
    data: JSON.stringify(data),
    success: function(response) {
      console.log(JSON.stringify(response));
      if (response.status == "ok") {
          // Go to picture of id
          $(location).attr('href', '/');
      } else {
         alert(response.error);
      }
      $('#addr_btn').button().button('enable');
    }
  });
}
</script>
{% endblock %}

