<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
	<title>Barnacle</title>
	<!-- Run in full-screen mode. -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Make the status bar black with white text. -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- Customize home screen title. -->
	<meta name="apple-mobile-web-app-title" content="Barnacle">
	<!-- Disable phone number detection. -->
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="initial-scale=1">

	<link rel="stylesheet" href="css/jquery.mobile-1.4.2.min.css" />
	<link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
	<script type="text/javascript" src="js/klass.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/jquery.mobile-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jstorage.js"></script>
	<script type="text/javascript" src="js/retina-1.1.0.js"></script>
	<script type="text/javascript" src="js/jquery.validate.min.js"></script>
	<script src="js/custom.js"></script>    
</head>
<body>
 <div data-role="page" id="home">
	<div data-role="panel" data-position="left" data-theme="b" data-display="push" id="left_panel">
		<ul data-role="listview" data-inset="false" data-theme="b">
			<li><div style="text-align: center;"><img src="img/logo.png" alt="Logo"></div></li>
			<li><a data-transition="slide" href="home.html"><i class="icon-home"></i> &nbsp; Home</a></li>
            <li><a data-transition="slide" href="payment.html"><i class="icon-credit-card"></i> &nbsp; Payment</a></li>
            <li><a data-transition="slide" href="promo.html"><i class="icon-gift"></i> &nbsp; Promotions</a></li>            
            <li><a data-transition="slide" href="profile.html"><i class="icon-user"></i> &nbsp; Profile</a></li>
			<li><a data-transition="slide" href="support.html"><i class="icon-question"></i> &nbsp; Support</a></li>
            <li><a data-transition="slide" href="about.html"><i class="icon-info"></i> &nbsp; About</a></li>
		</ul>
		<div style="position: relative; top: 15px;">
			<a href="#"><img src="img/panel/twitter.png" alt="Twitter"></a>
			<a href="#"><img src="img/panel/facebook.png" alt="Facebook"></a>
			<a href="#"><img src="img/panel/google.png" alt="Google+"></a>
		</div>
	</div>
	<div data-role="panel" data-theme="b" data-position="right" data-display="push" id="right_panel">
		<div style="text-align: center;">
			<h4 style="margin-top: 0px;">Driver Mode:</h4>
            <select name="flip-2" id="flip-2" data-role="slider">
                <option value="off">Off</option>
                <option value="on">On</option>
            </select>            
		</div>
	</div>
	<div id="header" data-role="header" data-position="fixed" data-theme="c">
		<div class="header_wrapper">
			<a style="border-left: none;" class="header_button" href="#left_panel" data-inline="true" data-role="button" data-corners="false" data-theme="c">
				<img class="header-btn-image" style="width: 100%; height: 100%;" src="img/menu.png" alt="Menu">
				<span class="menu-btn-background"></span>
			</a>
			<span class="page-tagline"><img src="img/logo.png" alt="Logo"></span>
			<a style="float: right;" class="header_button" href="#right_panel" data-inline="true" data-role="button" data-corners="false" data-theme="c">
				<img style="width: 100%; height: 100%;" src="img/mode.png" alt="Share">
				<span class="btn-background share-btn-background"></span>
			</a>
			<div style="clear: both"></div>
		</div>
	</div><!-- /header -->
    
    
    <div id="homepage_content" data-role="content">
      <div class="page-subtitle">
        Where do you want to send your items?
      </div>
      <button class='ui-mini ui-btn' id='contactsBtn' disabled>SELECT FROM CONTACTS</button>
      <div id='recent' style='padding:10px;'>
      <table id='recTable'>
        <tr><td>RECENT</td></tr>
      <tr onclick='selectAddr("1234")'><td>Elaine Ou<br>6936 Ferncroft</td></tr>
      </table>
      <button class='ui-mini ui-btn' id='addnewBtn'>ADD NEW</button>
      </div>
      <form enctype="multipart/form-data" method="post" id="filladdr_form" class="form-horizontal">
        <input type="text" class='input-address' name="name" placeholder="Recipients name">
        <hr class='input-hr'>
        <input type="text" class='input-address' name="address" placeholder="Address">
        <hr class='input-hr'>
        <input type="text" class='input-address' name="apt" placeholder="Apt / suite / unit">
        <hr class='input-hr'>
        <input type="text" class='input-address' name="city" placeholder="City">
        <hr class='input-hr'>
        <input type="text" class='input-address' name="state" placeholder="State">
        <hr class='input-hr'>
        <input type="text" class='input-address' name="zip" placeholder="Zip">
        <button class='ui-mini ui-btn' id='addr_btn' disabled>DONE</button>
      </form>

    </div><!-- /page -->
<script type="text/javascript" charset="utf-8">
function initialize() {
  $('#addr_btn').removeAttr('disabled');
}
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places&callback=initialize"></script>
<script type="text/javascript" charset="utf-8" src="js/validation.js"></script>
<script type="text/javascript" charset="utf-8" src="js/data/urls.js"></script>
<script type="text/javascript" charset="utf-8" src="js/cookie.js"></script>
<script type="text/javascript" charset="utf-8">

document.addEventListener("deviceready", onDeviceReady, false);
/* check for recent contacts */
function onDeviceReady() {
  console.log('Ready');
  var cookie = getUserCookie();
  data = {'userkey':cookie, 'type': 1};
  console.log(cookie);
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        url: wwwHome + "/mobile/get_addr",
        data: JSON.stringify(data),
        success: function(response) {
          console.log(response);
          if (response.status == "ok") {
            $('form#filladdr_form').hide();
            $('#recent').show();
            var adump = '';
            for (a in response.addrs) {
              adump = '<tr onclick=\'selectAddr("' + response.addrs[a].addrkey + '")\'><td>'+response.addrs[a].name + '<br>' + response.addrs[a].street + '</td></tr>';
              $('#recTable tr:last').after(adump);        
            }
          } else {
            $('#recent').hide();
            $('form#filladdr_form').show();
          }
        }
    });  
}

/* Select from recent contacts, save to local store */
function selectAddr(address) {
  window.localStorage.setItem("destination", address);
}
/* send address info to server */
function validate_addr() {      
  var $form = $('#filladdr_form');
  var name = $form.find('input[name=name]').val();
  var address = $form.find('input[name=address]').val();
  var city = $form.find('input[name=city]').val();
  var state = $form.find('input[name=state]').val();
  var zip = $form.find('input[name=zip]').val();
  if (name!=='' && address!=='' && city!=='' && state!=='' && zip!=='')
    return true;
  else
    return false;
}
$('#addr_btn').click( function(e) {
  e.preventDefault();
  
  var valid = validate_addr();
  if (!valid) {
    alert('Incomplete Address');
    return
  } 
  // Try to get a geopt for this address
  var data = $('#filladdr_form').serializeObject();
  data.userkey = getUserCookie();  
  geoFunc(data);
});

function geoFuncCallback(data) {
  $.ajax({
    type: "POST",
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    url: wwwHome + "/mobile/create_addr",
    data: JSON.stringify(data),
    success: function(response) {
      console.log(JSON.stringify(response));
      if (response.status == "ok") {
          window.localStorage.setItem("destination", response.addrkey);
          $.mobile.changePage('photo.html');
      } else {
         alert('Error');
      }
    }
  });  
}
</script>
    <!--  Can use this stuff for iOS, but not android. Will need to manually update
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
 <script type="text/javascript" charset="utf-8">

    // Wait for device API libraries to load
    document.addEventListener("deviceready", onDeviceReady, false);

    // device APIs are available

    function onDeviceReady() {
    }
    </script>
    -->
  </body>
</html>                  