{% extends "base/login.html" %}
{% block content %}
  	<div id='login'>
      <p>
      <img src='/static/img/lemmiwink_lg.png' style='margin-top:20%; width:60%'>
      </p>
      <br>
      <form enctype="multipart/form-data" method="post" id="login_form" class="form-horizontal">
        <input type="email" class='input-round' name="email" placeholder="Email Address">
        <input type="password" class='input-round' name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
        <button id='signup_btn' class='button-round'>Log In</button>
      </form>
    <div id='login-footer'>
    <a href='/account/pw'>Forgot Password?</a> &nbsp; | &nbsp; <a href='/account/signup'>Register</a>

  </div><!-- /content -->
  </div>
<script>
jQuery(document).ready(function () {
  hh = $(window).height();
  $('#login').height(hh);
});
</script>
{% endblock %}
