{% extends "base/login.html" %}
{% block content %}
  <div id='login'>
      <p>
      <img src='/static/img/lemmiwink_lg.png' style='margin-top:20%; width:60%'>
      </p>
      <br>
      <form enctype="multipart/form-data" method="post" id="login_form" class="form-horizontal">
        <input type="email" class='input-round' name="email" placeholder="Email Address">
        <input type="password" class='input-round' name="password" placeholder="Password">
        <input type="text" class='input-round' name="promo" placeholder="Code (optional)" value="{{promo}}">
        <button id='signup_btn' class='button-round'>Next</button>
        <div class='subtitle'><a href='/account/signin'>Log in with Existing Account</a></div>
      </form>
    <div id='login-footer'>
    <span>You must be at least 18 years old to use this application.</span>
    </div>
  </div><!-- /content -->
{% endblock %}
{% block url %}<script>var url = "/account/signup";</script> {% endblock %}
