{% extends "base/app.html" %}
{% block pagetitle %}<img src="/static/img/lemmiwink.png" alt="Logo">{% endblock %}
{% block rightbtn %}
<a style="float: right;" class="header_button" href="/cart/view" data-inline="true" data-role="button" data-corners="false" data-theme="c" id='cart_btn'>
    <img style="width: 100%; height: 100%;" src="/static/img/cart.png" alt="Share">
    <span class="btn-background share-btn-background"></span>
    {% if cart_tot > 0 %}
    <span class="counter-header highlight-red" style="color: #ffffff;">{{cart_tot}}</span>
    {% endif %}
</a>
{% endblock %}

{% block content %}
    <div id="homepage_content" data-role="content">
      <div class='addItems'>
        <p>Questions? Please email <a href='mailto:help@lemmiwink.com'>help@lemmiwink.com</a> or call us at 650.479.4940</p>
      </div>
    </div><!-- /content -->
<script>
$(document).ready(function(){
  $('#cart_btn').hide();
  });
</script>
{% endblock %}
